<h1>@ViewBag.UserName Dashboard</h1>
<hr />
<a asp-controller="EventCategory" asp-action="Index" class="btn btn-primary">Browse Events</a>
<a asp-controller="EventCategory" asp-action="MyBookings" class="btn btn-primary">My Bookings</a>
<a asp-controller="User" asp-action="Logout" class="btn btn-danger">Logout</a>