@model BLL.DTOs.BookingDTO
<h1>Are you sure to Delete?</h1>
<h3>User: @Model.UserName</h3>
<h3>Event: @Model.EventCategoryName</h3>
<h3>Seats: @Model.SeatCount</h3>
<form method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" name="Decision" value="Yes" class="btn btn-danger" />
    <input type="submit" name="Decision" value="No" class="btn btn-primary" />
</form>